
{cover_enabled, true}.

{erl_opts, [
    debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.


{project_plugins, [pc]}.


{deps, [
	{nkpacket, {git, "http://github.com/netcomposer/nkpacket", {branch, "ng"}}},
    {nkevent, {git, "http://github.com/netcomposer/nkevent", {branch, "v06"}}},
	{luerl, {git, "https://github.com/rvirding/luerl.git", {branch, "develop"}}}
]}.


{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.

