{lib_dirs, ["deps"]}.

{erl_opts, [
    % native,
    debug_info, 
    fail_on_warning, 
    {parse_transform, lager_transform}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.


{deps, [
	{nkpacket, ".*", {git, "http://github.com/nekso/nkpacket", {branch, "develop"}}},
	% {nkdocker, ".*", {git, "http://github.com/nekso/nkdocker", {branch, "develop"}}},
	{luerl, ".*", {git, "https://github.com/rvirding/luerl.git", {branch, "develop"}}},
	{hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "1.6.3"}}}
]}.



