
{cover_enabled, true}.

{erl_opts, [
    debug_info, warnings_as_errors, {parse_transform, lager_transform}
]}.


{project_plugins, [pc]}.


{deps, [
    {nklib, {git, "http://github.com/netcomposer/nklib", {branch, "v10"}}},
	{nkpacket, {git, "http://github.com/netcomposer/nkpacket", {branch, "v10"}}},
    {nkevent, {git, "http://github.com/netcomposer/nkevent", {branch, "v10"}}},
    {luerl, {git, "https://github.com/rvirding/luerl.git", {ref, "b454429"}}},
    {rfc3339, {git, "https://github.com/talentdeficit/rfc3339.git", {tag, "0.2.2"}}},
    {jose, {git, "https://github.com/potatosalad/erlang-jose.git", {tag, "1.8.4"}}},
    {otter, {git, "https://github.com/Bluehouse-Technology/otter.git", {branch, "master"}}},
    {pgsql, {git, "https://github.com/semiocast/pgsql.git", {branch, "master"}}}
]}.


{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.

