[
    {nkservice, [
        {nodes, ["nkservice@127.0.0.1"]}
    ]},

    {otter, [
        {http_client, httpc}, %% ibrowse | httpc
        {zipkin_collector_uri, "http://127.0.0.1:9411/api/v1/spans"},
        {zipkin_batch_interval_ms, 100},
        {zipkin_tag_host_ip, {127,0,0,1}},
        {zipkin_tag_host_port, 0},
        {zipkin_tag_host_service, "otter_test"},
        {zipkin_add_host_tag_to_span, {"lc", ""}},
        {filter_rules, [
            {
                [
                    {greater, otter_span_duration, 1000}
                ],
                [
                    {snapshot_count, [long_span], [otter_span_name]}
                ]
            },
            {
                [],
                [
                    {snapshot_count, [span_processed], [otter_span_name]},
                    send_to_zipkin
                ]
            }
        ]}
    ]},

%%    {kernel, [
%%        {net_ticktime,  10},
%%        {shell_history, enabled}
%%    ]},


    {lager, [
        {handlers, [
            {lager_console_backend, debug},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
        ]},
        {error_logger_redirect, false},
        {crash_log, "log/crash.log"},
        {colored, true},
        {colors, [
            {debug,     "\e[0;38m" },
            {info,      "\e[0;32m" },
            {notice,    "\e[1;36m" },
            {warning,   "\e[1;33m" },
            {error,     "\e[1;31m" }
        ]}
    ]},

     {sasl, [
        {sasl_error_logger, false}
    ]}
  
].
